# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
build/*.gch
build/*.pch

# Libraries
build/*.lib
build/*.a
build/*.la
build/*.lo
build/*.def
build/*.exp

# Shared objects (inc. Windows DLLs)
build/*.dll
build/*.so
build/*.so.*
build/*.dylib

# Executables
build/*.exe
build/*.out
build/*.app
build/*.i*86
build/*.x86_64
build/*.hex

# Configure
Lua.inc
Platform.inc
examples/llvm_version.lua

# Build
build/
build/*.out
build/*.exp
.depend

# MS Visual Studio

# KDevelop project
.kdev4/
mewa.kdev4



